.primeiro {
    background-color: rgb(0, 217, 255);
    width: 500px;
    height: 500px;
}
.segundo{
    background-color: #63196d;
    width: 50%;
    height: 50%;
    
}
.terceiro{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-size: 25px;
    font-family: monospace;
    font-weight: bolder;
}
.quarto{
    height: 50vh;
    background-color: #1a2c0f;
}
.quinto{
    width: 75vw;
    height: 50%;
    background-color: rgb(89, 0, 255);
}
